<html>
<head>
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/check.css')}}">
     <title>Operation</title>
        <style>
        table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

    <!-- Search the city-->

        <div id="search-city">
            <form id='search_city'>
                <p>Field:<select required name ="field" id="field1" oninvalid="setCustomValidity('select the field')" oninput="setCustomValidity('')">
                    <option value="chennai">chennai</option>
                    <option value="coimbatore">coimbatore</option>
                    <option value="erode">erode</option>
                    </select>
                <button type="submit" id="city-search">Search</button></p>
                <p><button type="submit" id="registered_user">Display Registration</button></p>
            </form>
        </div>


        <!-- Create a table dynamically and display the search results-->

            <div id="search_results" class="details1"></div>

        <!-- Create a table dynamically and display the List of registration-->

            <div id="display_results" class="details1"></div>

        <!-- Order by!-->

            <div id="order_by" class="details1">
                <form>
                     <p>Sort_By:<select required name ="sort_by" id="sort_by_field" oninvalid="setCustomValidity('select the field')" oninput="setCustomValidity('')">
                         <option value="city">city</option>
                         <option value="vaccine_centre">vaccine_centre</option>
                         <option value="name">name</option>
                         <option value="age">age</option>
                     </select>
                         <button type="submit" id="order_by_field">Order_by</button></p>
                </form>
            </div>


        <!--filter by!-->


            <div id="filter_by" class="details1">
                <form>
                     <p>Filter_by_city:<select required name ="sort_by" id="filter_by_city" oninvalid="setCustomValidity('select the field')" oninput="setCustomValidity('')">
                         <option value="chennai">chennai</option>
                         <option value="coimbatore">coimbatore</option>
                         <option value="erode">erode</option>
                     </select>
                         <button type="submit" id="filter_city">Filter</button></p>
                </form>
            </div>


    <!-- import script-->

        <script type = "text/javascript" src="{{ url_for('static', filename='javascript/project.js') }}"></script>

</body>
</html>
