<html>
<head>
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/check.css')}}">
     <title>Operation</title>
        <style>
        table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

    <!-- Search the city-->


        <div id="search-city">
            <form id='search_city'>
                <p>Field:<select required name ="field" id="field1" oninvalid="setCustomValidity('select the field')" oninput="setCustomValidity('')">
                    <option value="">search for field</option>
                    <option value="chennai">chennai</option>
                    <option value="coimbatore">coimbatore</option>
                    <option value="erode">erode</option>
                    </select></p>
                <p><button type="submit" id="city-search">Search</button></p>
            </form>
        </div>


    <!-- create the table and display the results-->


        <div id="display_results" class="details1">
            <table id="results" style="width:75%">
                <tr>
                    <th align="center" id="val_city">City</th>
                    <th align="center" id="vaccine_">Vaccine center</th>
                    <th align="center" id="slots_update">Slots available</th>
                    <th align="center" id="book-register">Book Now</th>
                </tr>
            </table>
        </div>


    <!-- Vaccine Register -->


        <div id="register" class="details1">
            <form id='register_form'>
                <p>Name:<input type="text" name="name" id="name1"  placeholder="Enter name" required  pattern="^[a-zA-z]{3,}[ ]{0,1}[a-zA-Z]{0,}[ ]{0,1}[a-zA-Z]{0,1}[ ]{0,1}[a-zA-z]{0,1}" oninvalid="setCustomValidity('should contains only characters')" oninput="setCustomValidity('')"></p>
                <p>Age:<input type="text" name="age" id="age1"  placeholder="Enter age" required  pattern="^[0-9]{1,3}" oninvalid="setCustomValidity('should contains only numbers')" oninput="setCustomValidity('')"></p>
                <p>Aadhaar Number:<input type="text" name="aadhaar_no" id="aadhaar_no1" placeholder="Enter Aadhaar Number" required  pattern="^[0-9]{4}[ ]{0,1}[0-9]{4}[ ]{0,1}[0-9]{4}" oninvalid="setCustomValidity('should contains only numbers i.e 12 digit aadhaar Number')" oninput="setCustomValidity('')"></p>
                <p>Phone Number:<input type="text" name="phone_no" id="phone_no1" placeholder="Enter Phone Number" required  pattern="^[0-9]{10}" oninvalid="setCustomValidity('should contains only characters')" oninput="setCustomValidity('')"></p>
                <p>Address:</P>
                <textarea name="address" id="address1" rows="4" cols="50" required></textarea>
                <p><button type="submit" id="register_vaccine">Register</button></p>
            </form>
        </div>

    <!-- import script-->


    <script>
    var row_count=1;
        function create_table(v1,v2,v3){
                document.getElementById('display_results').classList.remove('details1');
                var row = document.getElementById('results');
                var row_create = row.insertRow(row_count);
                var val_city = row_create.insertCell(0);
                var val_vaccine_center = row_create.insertCell(1);
                var val_slots_available = row_create.insertCell(2);
                var Book_Now = row_create.insertCell(3);
                val_city.innerHTML = v1;
                val_vaccine_center.innerHTML = v2;
                val_slots_available.innerHTML = v3;
                Book_Now.innerHTML ="<button id='book_now' onclick='register()'>Book Now</button>";
                row_count+=1;
        }


        function register(){
            document.getElementById('register').classList.remove("details1");
            document.getElementById('register_vaccine').addEventListener('click',register_vaccine);
        }


        function register_vaccine(){
            var name = document.getElementById('name1').value;
            var age = document.getElementById('age1').value;
            var aadhaar_no = document.getElementById('aadhaar_no1').value;
            var phone_no = document.getElementById('phone_no1').value;
            var address = document.getElementById('address1').value;
            var final = JSON.stringify({name:name,age:age,aadhaar_no:aadhaar_no,phone_no:phone_no,address:address})
            var xhr = new XMLHttpRequest();
            xhr.open('POST','/register',true);
            xhr.send(final);
        }


        function searchCity(event){
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            var x = document.getElementById('field1').value;
            var url = '/search?field='+x;
            xhr.open('GET',url,true);
            xhr.onload = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response_server = JSON.parse(xhr.responseText);
                    for(var i=0; i<response_server.vaccine.length; i++){
                        var city = response_server.vaccine[i].city;
                        var vaccine_place = response_server.vaccine[i].vaccine_centre;
                        var slots_remaining= response_server.vaccine[i].slots_available;
                        create_table(city,vaccine_place,slots_remaining);
                    }
                }
            }
            xhr.send();
        }
        document.getElementById('city-search').addEventListener('click',searchCity);
    </script>
</body>
</html>
