/flask_csv/.idea
/flask_csv/venv/
/flask_sql/.idea
/flask_sql/templates
/flask_sql/venv/
/flask_sql/task_flask_sql.py
/flask_sql/My_Sql/__pycache__
/flask_sqlalchemy/.idea
/flask_sqlalchemy/venv/
/flask_sqlalchemy/task_flask_sqlalchemy
/flask_sqlalchemy/templates
/flask_sqlalchemy/My_SQLAlchemy/__pycache__
/flask_sqlalchemy/task_flask_sqlalchemy.py
/Project_Regiter_Vaccine/.idea
/Project_Register_Vaccine/venv
/Project_Register_Vaccine/main