<html>
<head>
    <title>Search</title>
    <style>
        table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
   <body>
      <table style="width:75%">
          <tr>
            <th align="center">Name</th>
            <th align="center">Roll</th>
            <th align="center">Gender</th>
            <th align="center">Physics</th>
            <th align="center">Chemistry</th>
            <th align="center">Maths</th>
          </tr>
          {% for row in display_results %}
            <tr>
               <td align="center">{{row['name']}}</td>
               <td align="center">{{row['roll']}}</td>
               <td align="center"> {{ row['gender']}}</td>
               <td align="center">{{row['physics']}}</td>
               <td align="center"> {{ row['chemistry']}}</td>
               <td align="center">{{row['maths']}}</td>
            </tr>
         {% endfor %}
      </table>
      <h1><a href = "/">Click here to home page</a></h1>
   </body>
</html>