<html>
<head>
    <title>Search</title>
</head>
<body>
<form action="/field-value" method="post">
Field:<select required name ="mySelect" id="mySelect" onchange="myFunction()" oninvalid="setCustomValidity('select the field')" oninput="setCustomValidity('')">
    <option value="">search for field</option>
    <option value="name">name</option>
    <option value="roll">roll</option>
    <option value="gender">gender</option>
    <option value="physics">physics</option>
    <option value="chemistry">chemistry</option>
    <option value="maths">maths</option>
</select>
<p id="check"></p>
    <script>
function myFunction() {
  var x = document.getElementById("mySelect").value;
  if(x=="gender"){
var value=`<P>Value:<select required id="val" name="val" oninvalid="setCustomValidity('select gender')" oninput="setCustomValidity('')">
<option value="">choose</option>
	<option value="male">male</option>
  <option value="female">female</option>
  <option value="other">other</option>
  </select>`
  document.getElementById("check").innerHTML=value
}
else if(x=="name"){
var val1=`<p>Value:<input type="text" id="val" name="val" required pattern="^[a-zA-z]{1,}[ ]{0,}[a-zA-Z]{0,}[ ]{0,}" oninvalid="setCustomValidity('should contains only characters')" oninput="setCustomValidity('')"></p>`
document.getElementById("check").innerHTML=val1
}
else if(x=="roll"){
var val=`<p>Value:<input type="text" id="val" name="val" required pattern="[0-9]{1,}" oninvalid="setCustomValidity('should contains only numbers')" oninput="setCustomValidity('')"></p>`
document.getElementById("check").innerHTML=val
}
else{
var val3=`<p>Value:<input type="text" id="val" name="val" required pattern="[0-9]{1,3}" oninvalid="setCustomValidity('should contains only three numbers')" oninput="setCustomValidity('')"></p>`
document.getElementById("check").innerHTML=val3
}
}
</script>
<button type="submit">Search</button>
</form>
<h1><a href="/">Click here to home page</a></h1>
</body>
</html>