<html>
<head>
    <title>Display</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;}
</style>
</head>
<body>
<table style="width:75%">
    <tr>
        <th align="center" >Name</th>
        <th align="center">Roll_No</th>
        <th align="center">Gender</th>
        <th align="center">Physics</th>
        <th align="center">Chemistry</th>
        <th align="center">Maths</th>
    </tr>
    {% for i in display_results %}
    <tr>
        <td align="center">{{i[0]}}</td>
        <td align="center">{{i[1]}}</td>
        <td align="center">{{i[2]}}</td>
        <td align="center">{{i[3]}}</td>
        <td align="center">{{i[4]}}</td>
        <td align="center">{{i[5]}}</td>
    </tr>
    {% endfor %}
</table>
<h1><a href="/">Go back to home page</a></h1>
</body>
</html>