<html>
<head>
    <title>login</title>
</head>
<body>
    <form action="/user-details">
        <button type="submit">Insert</button><br><br>
    </form>
<form action="/field-value">
    <button type="submit">Search</button><br><br>
</form>
    <form action="/search-roll-update">
    <button type="submit">Update</button><br><br>
</form>
    <form action="/delete">
    <button type="submit">Delete</button><br><br>
</form>
<form action="/display">
    <button type="submit">Display</button><br><br>
</form>
</form>
</body>
</html>